
<style>
    .post-series-container {
        margin: 20px 0;
    }
    .post-series-link {
        white-space: nowrap;
    }
    .post-series-nolink {
        font-weight: bold;
        cursor: default;
    } 
</style>

{% assign series = site.posts | sort: "date" | where: "post_series",  page.post_series %}

{% if page.post_series and series and series.size > 1 %}
<div class="post-series-container">
    <h4 class="post-series-header">This Post is Part of a Series</h4>
    <div class="post-series-link-container">
        {%comment%}Rendering series. size: {{series.size}}{%endcomment%}
        {% for part in series %}
            {% capture text %}Part {{forloop.index}}{% endcapture %}
            {% if page.url != part.url %}
                <a class="post-series-link" href="{{part.url}}" title="{{part.title}}">{{text}}</a>{%unless forloop.last%},{%endunless%}
            {% else %}
                <text class="post-series-link post-series-nolink" title="{{part.title}}">{{text}}</text>{%unless forloop.last%},{%endunless%}
            {%endif%}
        {% endfor %}
    </div>
</div>
{% endif %}